@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.title{
	margin: 15px 300px ;
	text-align: center;
}
hr{
	border: none;
	border-top: 1px solid rgb(236, 121, 121 ) ;
	color: rgb(236, 121, 121 );
	margin: 25px 45% 15px 45%;
}
.description
{
	display: inline-block;
	width: 344px;
	margin-left: 21px;
	padding: 1px 36px;
}
.icon{
	display: inline-block;
	width: 359px;
	margin-left:5px;
}
.idea{
	text-align: center;
}
.account{
	text-align: center;
}
.banner{
	font-family: 'Open Sans', sans-serif;
	padding-top:50px;
}
.small{
	padding-top: 5px;
}
.big{
	padding-top: 30px;
}
.content{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.statue{
	height: 369px;
   float: left;
}
.text{
	text-align: left;
	padding-left: 80px;
	padding-right: 30px;
}
.download{
	background: #EC7979;
	border: 1px solid #EC7979 ;
	color: white;
	width: 270px;
	height: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	margin-top: 41px;
}
.tabs {
	font-size: 0;
	margin: 100px;
}
.tabs>input[type="radio"] {
	display: none;
}
.tabs>div {
	display: none;
	border: 1px solid #e0e0e0;
	font-size: 16px;
}
	#tab-btn-1:checked~#content-1,
	#tab-btn-2:checked~#content-2,
	#tab-btn-3:checked~#content-3 {
	display: flex;
}
.tabs>label {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	height: 30px;
	padding: 6px 8px;
	position: relative;
	top: 1px;
}
.tabs>label:not(:first-of-type) {
	border: none;
}
.tabs>input[type="radio"]:checked+label {
	position: relative;
   background: #ffffff;
   border:1px solid #e0e0e0;
   border-bottom: none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}